/* Мобильные телефоны (портретный режим) */
@media (max-width: 768px) {
    header, nav, main, footer {
      width: 100%;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      order: -1;
    }
  
    main ul {
      order: 1;
    }
  }
  
  /* Планшеты и десктопы */
  @media (min-width: 769px) {
    header, nav, main, footer {
      width: 80%;
      margin: 0 auto;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
      order: 0;
    }
  
    main ul {
      order: 0;
    }
  }
  